a {
    text-decoration: none; 
    color:black;
    font-size:18px;
}
a:hover{
    text-decoration: none; 
    background-color: black;
    color: white;
}

.bi-person-plus-fill:hover{
    fill: green;
    cursor: pointer;
}
.cht{
    cursor: pointer;
}
.bi-person-plus-fill{
    cursor: pointer;
}
.cht:hover {
    color:green;
    cursor: pointer;
}