body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 20px;
}
.breadcrumb{
    background-color: #2aa493;
}



.block {
    border: 2px solid #2aa493;
    background-color: #2aa493;
    color: white;
    margin: 8px 15px 0px 15px;
    padding: 25px;
    position: relative;
    display:none;
    justify-content:space-between;
    font-size: 14px;
}
.block::before, .block::after {
    content: ''; 
    position: absolute;
    right: 20px;
    border: 20px solid transparent;
    border-bottom: 20px solid #2aa493;
    top:-40px
}

table{
    width:100%;
}
.table_main {
    background-color: #2aa493;
    color: white;
}

tr{
    text-align: center;
}

.table_item{
    height: 80px;
}

.table_item:hover{
    background-color: #2aa49430;
    cursor: pointer;
}

.subject_name{
    width: 400px;
}