body{
    background-color: #e2e8f0;
}


.main-body {
    padding: 20px;
}

.descrip{
    cursor: pointer;
    color: navy;
    display:block;
}

.descrip__body{
    display: none;
    padding: 15px;
    margin-left: 40px;
}

.course{
    display: flex;
    border: 5px solid navy; 
    padding: 30px; 
    margin-left:15%;
    margin-right:15%;
    justify-content: space-between;
}
