body{
    background-color: #e2e8f0;
}

.sop{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 ;
}

.sop__main{
    border: 2px solid #2aa493;
    border-radius: 8px;
    background:white;
    width: 900px;
    padding: 50px 80px 80px 80px;
}

label:hover{
    color: #2aa493;
}

.btn_send{
    color: #2aa493;
    background-color: white;
    padding: 8px;
    border: 1px solid #2aa493;
    position: absolute;
    right: 2px;
}

.btn_send:hover{
    background-color: #2aa493;
    color: white;
}